@model IEnumerable<MvcCoreUtilidades.Models.Cliente>

@{
    ViewData["Title"] = "ClientesEmpresa";
}

<h1>Clientes Empresa</h1>

<form method="post">
    <label>Introduzca empresa: </label>
    <input type="text" name="empresa"
        class="form-control" required/>
    <button class="btn btn-info">
        Buscar clientes
    </button>
</form>

@if (Model != null)
{
    <table class="table table-info">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PartitionKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RowKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartitionKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RowKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
            </tr>
    }
        </tbody>
    </table>    
}


